{% extends 'just_co_away/base.html' %}

{% block content %}
{% if listings %}
    {% for listing in listings %}
    <div class="row border border-4 rounded-lg mb-4" >
        <article class="listing col-md-6" >
            <h2><a href="{% url 'listing_detail' pk=listing.pk %}">Supplier: {{ listing.supplier|linebreaksbr }}</a></h2>
            <p>Price Range: {{ listing.price|linebreaksbr }}</p>
            <p>Phone Number: {{ listing.phone_number|linebreaksbr }}</p>
            {% if listing.landline_number %}
            <p>Landline Number: {{ listing.landline_number|linebreaksbr }}</p>
            {% endif %}
            {% if listing.whatsapp_number %}
            <p>Whatsapp Number: {{ listing.whatsapp_number|linebreaksbr }}</p>
            {% endif %}
            <p>Address: {{ listing.address|linebreaksbr }}</p>
            <p>City: {{ listing.city|linebreaksbr }}</p>
            <p>PIN Code: {{ listing.pincode|linebreaksbr }}</p>
            <p>Delivery Available? {{ listing.delivery|linebreaksbr|yesno:"No,Yes" }}</p>
            <p>Max. Delivery Distance: {{ listing.maximum_delivery_distance|linebreaksbr }}</p>
            <p>Cylinders Per Customer: {{ listing.cylinders_per_customer|linebreaksbr }}</p>
           
        </article>
        <div class="col-md-6 ">
        <iframe class="mt-5 " id="{{listing.pk}}" width="100%" height="75%" frameborder="" style="border:0" 
            src="https://www.googddle.com/maps/embed/v1/directions?key=AIzaSyAy0JVDXm-zy9Ipi0irwY_fMnsFenMkrzs&origin=sessionStorage.getItem('lat'),sessionStorage.getItem('long')&destination={{listing.address}}"
            allowfullscreen> 
        </iframe>
        <p>Verified at: {{ listing.verified_on|linebreaksbr }} on {{listing.date_verified_on}}</p>
        </div>
    </div>

<script>
    function googleMapLoad(){
        var iframe_ele = document.getElementById('{{listing.pk}}');
        iframe_ele.src = 'https://www.google.com/maps/embed/v1/place?key={{api_key}}&q={{listing.address}}'
    }
    googleMapLoad();

</script>

   


{% endfor %}
{% else %}
<h1>Sorry, there are no available Oxygen Dealers available currently.</h1>
{% endif %}


{% if listings.has_other_pages %}
  <ul class="pagination">
    {% if listings.has_previous %}
      <li class="page-item"><a class="page-link" href="?page={{ listings.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"><span>&laquo;</span></a></li>
    {% endif %}
    {% for i in listings.paginator.page_range %}
      {% if listings.number == i %}
        <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if listings.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ listings.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="page-item disabled"><a class="page-link"><span>&raquo;</span></a></li>
    {% endif %}
  </ul>
{% endif %}


{% endblock %}


{% block script %}

<script>
    // Script to get the location of the user
    (function () {
        navigator.geolocation.getCurrentPosition(function (position) {
        sessionStorage.setItem("lat", position.coords.latitude);
        sessionStorage.setItem("long", position.coords.longitude);
        },
        function (error) {
            console.log("Geolocation is not supported by this browser.")
        })
    })();
</script>

<script>
   //function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {
   //     var R = 6371; // Radius of the earth in km
   //     var dLat = deg2rad(lat2-lat1);  // deg2rad below
   //     var dLon = deg2rad(lon2-lon1); 
   //     var a = 
   //       Math.sin(dLat/2) * Math.sin(dLat/2) +
   //       Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * 
   //       Math.sin(dLon/2) * Math.sin(dLon/2)
   //       ; 
   //     var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); 
   //     var d = R * c; // Distance in km
   //     return d;
   //   }
   //   
   //   function deg2rad(deg) {
   //     return deg * (Math.PI/180)
   //   }
</script>



{% endblock script %}